@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.container div{
    border: 1px solid #333;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    background-image: linear-gradient(225deg,#30cfd0,#330867);
}
.container {
    display: flex;
    flex-direction: row; 
    height: 100vh;
    color: azure;
    flex-flow: wrap;
}